h1 {
    background-color: lightcoral;
    height: 300px;
    width: 300px;

    /*
    border-width: 10px;
    border-style: solid;
    border-color: darkblue;
    */
    border: 10px solid darkblue;

    /*
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */

    /*
    padding: 10px 10px 10px 10px; (se as 4 forem iguais, usa-se apenas uma medida)
    */ 
    
    padding: 10px;

    /*
    Se usarmos duas medidas o navegador entenderá a
    primeira como CIMA-BAIXO e a segunda ESQUERDA-DIREITA.
    EX: padding: 10px 20px;
    */

    /*
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    */

    margin: 20px 20px 40px 20px;

    /*
    Se configurarmos a MARGIN como, por exemplo, margin: 20px auto 40px auto;
    a nossa caixa será centralizada pela margem esquerda-direita, automaticamente.
    */

    /*
    outline-width: 5px;
    outline-style: dashed;
    outline-color: blueviolet;
    */

    outline: 5px dashed blueviolet;
}
/*
o PADDING é sempre configurado de CIMA-DIREITA-ABAIXO-ESQUERDA.
Acima tudo foi configurado como SHORT HAND.
*/

a {
    /*
    border-width: 10px;
    border-style: solid;
    border-color: red;
    */

    border: 10px solid red;

    /*
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */

    padding: 10px;
}