body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    padding: 30px;
}

table {
    border-collapse: collapse;
}

caption {
    font-size: 1.2em;
    font-weight: bolder;
    padding: 20px;
}

th, td {
    border: 1px solid black;
    padding: 30px;
}

tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
}

div#container {
    overflow-x: auto;
}