@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(106, 148, 183, 0.719);
    color: rgb(255, 255, 255);
    padding: 30px;
}

header > h1 {
    text-align: center;
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 20px;
}

.gato {
    margin: 50px;
    max-width: 500px;
}

body {
    min-height: 100vh;
    background-color: rgb(215, 219, 234);
}

section {
    padding-left: 50px;
    padding-top: 50px;
    font-size: 24px;
}

section .inf-cont {
    margin-left: 50px;
}

section > p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin-right: 15px;
    font-size: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    padding: 10px;
}

footer > p {
    text-align: center;
}