@charset "utf-8";

body {
    background-color: rgb(194, 173, 147);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

h2 {
    color: brown;
    font-size: 30px;
}

h3 {
    color: forestgreen;
}

.basico {
    color: blueviolet;
    font-weight: bold;
}

.intermediario {
    color: rgb(129, 45, 14);
    font-weight: bold;
}

.avancado {
    color: rgb(133, 116, 25);
    font-weight: bold;
}

p {
    text-align: justify;
    font-size: 20px;
}

.destaque {
    font-size: 25px;
    color: blue;
}

/*
Quando em HTML é ID, em CSS é #(tralha) - só pose usar um elemento
Quando em HTML é CLASS, em CSS é .(ponto) - pode usar vários elementos
*/

/*
CLASS --- identificador de elementos
Pode ser repetido
Serve para vários elementos
*/