h1 {
    border: 20px solid rgb(177, 150, 150);
    padding: 10px;

    /** 
    border-image-source: url('imagens/borda2.png');
    border-image-slice: 40;
    border-image-repeat: repeat;
    **/

    border-image: url('imagens/borda2.png') 40 repeat;
}